@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

.parallax-block{
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Amatic SC', cursive;
}
@media all and (max-width: 1000px){
  .parallax-block{
    height: 400px;
  }
}
@media all and (max-width: 750px){
  .parallax-block{
    height: 300px;
  }
}
@media all and (max-width: 500px){
  .parallax-block{
    height: 150px;
  }
}
.parallax-block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 40%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}
.parallax-block h3{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 35%;
  transform: translateY(-50%);
  font-size: 7vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  width: 100vmax;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}
