@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

.parallax-block{
  width: 100%;
  padding-top: 35%;

  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Amatic SC', cursive;
}
/* @media all and (max-width: 1000px){
  .parallax-block{
    height: 400px;
  }
}
@media all and (max-width: 750px){
  .parallax-block{
    height: 300px;
  }
}
@media all and (max-width: 500px){
  .parallax-block{
    height: 150px;
  }
} */

.parallax-block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 40%;
  transform: translateY(-130%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}
.parallax-block h3{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 40%;
  transform: translateY(-200%);
  font-size: 7vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none
}
