
.pagination-container {
  display: block;
  width: 25%;
  margin: 60px auto;
  height: 100px;
}

.pagination {
  display: block;
  width: auto;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  margin-left: 0;

}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #ed6427;
  border-color: #ed6427;
  color: #FFFFFF;
  cursor: default;
  z-index: 10;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
  border-radius: 3px;
}
@media all and (max-width: 500px){
  .pagination-container {
    margin: 30px auto;
    width: 80%;
  }
  .pagination  li  a, .pagination  li  span {
    line-height: 1;
    padding: 5px 8px;

  }
}
.pagination  li  a:hover{
	background:#ed6427;
	color:#fff;
}
